@import url(./type-pairings/system.css);

body {
  font-family: var(--font-family-serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-display);
}

nav {
  font-family: var(--font-family-sans);
}

/*
 * TODO:
 *
 * - lining figures inside tables
 * - ligatures on; only contextual ligatures inside code
 * - fractions, old-style numerals, ordinals
 * - small caps for acronyms
 * - swashes/alternates? headlines only?
 */
