/* @link https://utopia.fyi/grid/calculator?c=326,14,1.25,1080,16,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l|m-xl|l-2xl|xl-3xl&g=s,m,2xl,12 */

:root {
  --grid-max-width: 67.50rem;
  --grid-gutter: var(--space-s-m, clamp(0.875rem, 0.6048rem + 1.3263vw, 1.5rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}
