/* @link https://utopia.fyi/space/calculator?c=320,12,1.25,1280,16,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l|m-xl|l-2xl|xl-3xl&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.1875rem, 0.1667rem + 0.1042vw, 0.25rem);
  --space-2xs: clamp(0.375rem, 0.3333rem + 0.2083vw, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.5rem + 0.3125vw, 0.75rem);
  --space-s: clamp(0.75rem, 0.6667rem + 0.4167vw, 1rem);
  --space-m: clamp(1.125rem, 1rem + 0.625vw, 1.5rem);
  --space-l: clamp(1.5rem, 1.3333rem + 0.8333vw, 2rem);
  --space-xl: clamp(2.25rem, 2rem + 1.25vw, 3rem);
  --space-2xl: clamp(3rem, 2.6667rem + 1.6667vw, 4rem);
  --space-3xl: clamp(4.5rem, 4rem + 2.5vw, 6rem);
  --space-4xl: clamp(6rem, 5.3333rem + 3.3333vw, 8rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.1875rem, 0.0833rem + 0.5208vw, 0.5rem);
  --space-2xs-xs: clamp(0.375rem, 0.25rem + 0.625vw, 0.75rem);
  --space-xs-s: clamp(0.5625rem, 0.4167rem + 0.7292vw, 1rem);
  --space-s-m: clamp(0.75rem, 0.5rem + 1.25vw, 1.5rem);
  --space-m-l: clamp(1.125rem, 0.8333rem + 1.4583vw, 2rem);
  --space-l-xl: clamp(1.5rem, 1rem + 2.5vw, 3rem);
  --space-xl-2xl: clamp(2.25rem, 1.6667rem + 2.9167vw, 4rem);
  --space-2xl-3xl: clamp(3rem, 2rem + 5vw, 6rem);
  --space-3xl-4xl: clamp(4.5rem, 3.3333rem + 5.8333vw, 8rem);

  /* Custom pairs */
  --space-s-l: clamp(0.75rem, 0.3333rem + 2.0833vw, 2rem);
  --space-m-xl: clamp(1.125rem, 0.5rem + 3.125vw, 3rem);
  --space-l-2xl: clamp(1.5rem, 0.6667rem + 4.1667vw, 4rem);
  --space-xl-3xl: clamp(2.25rem, 1rem + 6.25vw, 6rem);
}
