/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1240,18,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -2: 9.7222px → 11.52px */
  --step--2: clamp(0.6076rem, 0.5686rem + 0.1954vw, 0.72rem);
  /* Step -1: 11.6667px → 14.4px */
  --step--1: clamp(0.7292rem, 0.6697rem + 0.2971vw, 0.9rem);
  /* Step 0: 14px → 18px */
  --step-0: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);
  /* Step 1: 16.8px → 22.5px */
  --step-1: clamp(1.05rem, 0.9261rem + 0.6196vw, 1.4063rem);
  /* Step 2: 20.16px → 28.125px */
  --step-2: clamp(1.26rem, 1.0868rem + 0.8658vw, 1.7578rem);
  /* Step 3: 24.192px → 35.1563px */
  --step-3: clamp(1.512rem, 1.2736rem + 1.1918vw, 2.1973rem);
  /* Step 4: 29.0304px → 43.9453px */
  --step-4: clamp(1.8144rem, 1.4902rem + 1.6212vw, 2.7466rem);
  /* Step 5: 34.8365px → 54.9316px */
  --step-5: clamp(2.1773rem, 1.7404rem + 2.1843vw, 3.4332rem);
  /* Step 6: 41.8038px → 68.6646px */
  --step-6: clamp(2.6127rem, 2.0288rem + 2.9196vw, 4.2915rem);
}
