<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}"/>
    <link rel="canonical" href="{{ site.url }}">
  </head>
  <body>
    {% if title %}<h2>{{ title | safe }}</h2>{% endif %}
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
