<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <title>{{ title or site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}"/>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="canonical" href="{{ site.url }}">
  </head>
  <body>
    <header class="u-container">
      {% include 'components/header.njk' %}
      {% if title %}<h1>{{ title }}</h1>{% endif %}
    </header>
    <main class="u-container">
      {{ content | safe }}
    </main>
    <footer class="u-container">
      {% include 'components/footer.njk' %}
    </footer>
  </body>
</html>
