<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}"/>
    <link rel="canonical" href="{{ site.url }}">
    <link rel="stylesheet" href="/splat.css" />
  </head>
  <body>
    <main>
      {%- if image %}<img src="{{ image }}" alt="{{ alt }}"/>{%- endif %}
    </main>
  </body>
</html>
