
button,
input[type="submit"] {
  border-radius: var(--border-radius);
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  margin: 0.5rem 0;
  padding: 1rem 2rem;
  background-color: var(--color-link);
  border: 2px solid var(--color-link);
  color: var(--color-bg);
}

button,
input[type="submit"] {
  font-family: var(--font-family-sans);
}

button:active,
input[type="submit"]:active {
  filter: brightness(var(--active-brightness));
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  filter: brightness(var(--hover-brightness));
}
